.registerDiv{
    /* background-image: url('../../../favRecipEz Pictures/blue-salads.jpg');
    background-size:cover; */
    border: 2px solid #046b6d;
    margin-top:15px;
    
}


#regHeader{
    padding-left:15px;
    /* border: 1px solid blue; */
    color:#046b6d;
    text-align:center;
    
}

.registerDiv h3, form, label, input, h4{
    box-sizing:border-box;
    padding:5px 5px;
    margin:10px 5px;
    text-align: left;
    /* border:1px solid skyblue; */
}

form{
    margin-bottom:0px;
    padding-bottom:0px;
}
label{
    color:coral;
}

input{
    width:45%;
}

input:focus{
    outline: 2px solid coral;
}

.registBtn{
    margin:5px;
    background-color:rgba(64, 109, 23, 0.801);
    color:floralwhite;
    border-radius:5px;
    padding:7px 10px;
    width:25%;
    
  }

  .registBtn:hover{
    cursor: pointer;
    background-color:sandybrown;
  }

  .signInBtn:active{
      outline:2px solid coral;
      border: 2px solid coral;
  }

    span{
      color:red;
      font-size:12px;
      text-align:center;
      margin-left:10px;
      padding-left:5px;
  }