
<div *ngIf="loggedIn()" class="RecipeBoxDiv">
    <h3>Recipe Box -- Your Saved Recipes</h3>
    <app-recipe-search></app-recipe-search>
    <div class="grid grid-pad">
        <a *ngFor="let recipe of recipes" class="col-1-4"
            >
            <div class="module recipe" routerLink="/recipes/{{recipe.id}}"> 
                <h4 class="recipeModuleTitle">{{recipe.title}}</h4>
                <img style="width:100%;" src="https://favrecipez.s3-us-west-1.amazonaws.com/1610034181287-colorful-salad.jpg" alt="default img"> 
            </div>

            <button class="delete" title="delete recipe" (click)="delete(recipe)">
                Delete
            </button>&nbsp;
            <button class="edit" title="edit recipe" (click)="edit(recipe)">
                Edit
            </button>
        </a> 
        <h4>{{noRecipesMsg}}</h4>
        
    </div>
    <br/>
    <button class="addRecipeButton" (click)="addRecipe()">Add a Recipe</button>
    
</div>
<div *ngIf="!loggedIn()" class="RecipeBoxDiv">
    <h3>Please Sign In or Register!</h3>
</div>

