
.recipes{
    display: flex;
    flex-wrap:wrap;
    background-color:rgba(64, 109, 23, 0.801);
    justify-content:space-evenly;
    padding:0px;
}

.recipes > div{
    background-color:#654321;
    width: 150px;
    min-height:100px;
    margin: 10px;
    text-align:center;
    font-size:20px;
    padding:10px 10px;
    border: 2px solid rgb(53, 48, 48);
    
    

  }

  .recipes > div:hover{
    border: 2px solid cornsilk;
  }

  .recipeIndexRecipeTitle{
      height:50px;
      margin-top:5px;
      margin-bottom:10px;
      /* border:1px solid blue; */
      border-bottom: 2px solid transparent;
  }

  .recipeIndexRecipeTitle:hover{
      border-bottom: 2px solid coral;
      box-shadow: 3px 3px 5px coral;
  } 

  .recipeIndexLinks{
      text-decoration: none;
      color:floralwhite;
  }

  

  .recipeDescription{
      font-size: 12px;
      font-style: italic;
      height:15px;
      margin-top:0px;
  }

  .recipeDescription:hover{
      border-bottom: none;
  }